@media only screen and (min-width: 768px) and (max-width: 960px) {
  header {
    width: 99.5%;
    height: 100px;
    display: flex;
  }
  aside {
    float: left;
    width: 20%;
    height: 602px;
    display: flex;
  }

  footer {
    width: 79.5%;
    height: 150px;
    border-left: 1px solid gray;

    float: right;

    border-top: 1px solid gray;
    border-right: 1px solid gray;
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
  }
  #dad {
    width: 80%;
    height: 200px;
    float: left;
    margin-right: 0px;
    position: relative;

    margin-left: 0px;
    display: flex;
    border-top: 1px solid gray;

    border-right: 1px solid gray;
    align-items: center;
    padding-left: 0px;
  }
  #mom {
    width: 80%;
    height: 200px;
    float: left;
    margin-right: 0px;
    position: relative;

    margin-left: 0px;
    display: flex;

    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;

    align-items: center;
  }

  .child {
    width:19.8%;
    height: 250px;

    margin-top: 0px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    
    float: right;
    
  }
  #child4{
    border-left: 1px solid gray;
  }

  #parent {
    display: flex;
    flex-direction: row;
    width: 79.6%;
  }
 
 /* #big {
      display: flex;
      flex-direction: row;
  }
 #big2 {
    display: flex;
    flex-direction: row;
   

 } */
 
 
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    width: 100%;
    height: 75px;
    background-color: #f3b81c;
  }
  aside {
    width: 100%;
    height: 150px;
    background-color: #135a8e;
  }
  #mom {
    width: 100%;
    height: 125px;
    position: relative;
  }
  #dad {
    width: 100%;
    height: 125px;
    position: relative;
  }

  .child {
    width: 50%;
    height: 250px;
  }
 #big {
    display: flex;
    
    flex-direction: row;
  } 
  #big2{
    display: flex;
    
    flex-direction: row;

  }

  footer {
    width: 100%;
    height: 80px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
  }
  
}
